@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FDFFFC;
}

.colorheader {
  background-color: #011627 !important;
}

.tamañocarrusel {
  max-height: 550px;
  width: auto;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(90%);
}

h2 {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.contenedor {
  padding: 3rem;
  margin: 0 5rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.redodeado {
  border-radius: 2%;
}

.textoprincipal {
  margin-top: 2rem;
}

.contenedor2 {
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 15rem;
  align-items: center;
}

.contenedor1 {
  margin: 3rem 5rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.tamaño {
  width: 350px;
  border-radius: 3%;
}

.text {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.contenedorfuturo {
  margin: 0 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

footer {
  margin: 2rem 0rem;
  height: 150px;
  background-color: #f8f9fa;
}
footer .malla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
footer .espacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letrafooter {
  text-align: start;
  margin-bottom: 1rem;
}

.email {
  list-style: none;
}

.redes {
  list-style: none;
}
.redes li {
  display: inline-block;
  text-align: center;
}
.redes li i {
  color: #011627;
  font-size: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 975px) {
  .contenedor {
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }
  footer {
    margin-top: 5rem;
    height: 150px;
  }
}
@media (max-width: 700px) {
  .contenedor {
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }
  .contenedor img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 565px) {
  footer {
    margin: 3rem 0rem;
    width: 100%;
    height: auto;
  }
  .malla {
    display: grid;
    grid-template-columns: 1fr;
  }
  .letrafooter {
    margin-bottom: 1rem;
  }
  .redes li i {
    color: #011627;
    font-size: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 355px) {
  .textoprincipal {
    font-size: small;
    margin-top: 2rem;
  }
}
@media (max-width: 975px) {
  .contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
}
@media (max-width: 850px) {
  .contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .contenedor2 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    align-items: center;
  }
  .contenedor2 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 855px) {
  iframe {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 1111px) {
  .contenedor1 {
    margin: 3rem 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
  }
  .contenedor1 img {
    width: 100%;
    height: auto;
  }
  .hijoorder {
    order: 1;
  }
  .textoprincipal {
    order: 2;
  }
}
@media (max-width: 480px) {
  .contenedor1 {
    margin: 1rem 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
  }
  .contenedor1 img {
    width: 100%;
    height: auto;
  }
  .hijoorder {
    order: 1;
  }
  .textoprincipal {
    order: 2;
  }
}
@media (max-width: 1400px) {
  .contenedorfuturo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorfuturo img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) {
  .contenedorfuturo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorfuturo img {
    width: 600px;
    height: auto;
  }
}
@media (max-width: 630px) {
  .contenedorfuturo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorfuturo img {
    width: 500px;
    height: auto;
  }
}
@media (max-width: 535px) {
  .contenedorfuturo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem;
  }
  .contenedorfuturo img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 235px) {
  .contenedorfuturo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorfuturo img {
    width: 100px;
    height: auto;
  }
  h2 {
    font-size: small;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .textoprincipal {
    font-size: small;
    margin-top: 2rem;
  }
  h3 {
    font-size: small;
  }
}/*# sourceMappingURL=estilos.css.map */